# Ignore node_modules to avoid copying them to the Docker image
node_modules

# Ignore logs and temporary files
*.log
tmp/
*.swp

# Ignore other irrelevant files or directories
.git
.gitignore
Dockerfile
.dockerignore
README.md
